{% extends "user_dasboard/base/based.html" %}
{% block title %}Profile{% endblock %}
{% block css %}
    <!--Bootstrap Validator [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-validator/bootstrapValidator.min.css') }}" rel="stylesheet">

    <!--Switchery [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/switchery/switchery.min.css" rel="stylesheet') }}">

    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet">
    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css') }}" rel="stylesheet">

    <!--Chosen [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/chosen/chosen.min.css') }}" rel="stylesheet">

    <!--noUiSlider [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/noUiSlider/nouislider.min.css') }}" rel="stylesheet">

    <!--Select2 [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/select2/css/select2.min.css') }}" rel="stylesheet">

    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet">

    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css') }}" rel="stylesheet">

    <!--Dropzone [ OPTIONAL ]-->
    <link href="{{ url_for('static', filename='user_dasboard/plugins/dropzone/dropzone.min.css') }}" rel="stylesheet">
{% endblock %}
{{ super() }}
{% block head %}
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Form Validation</h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->

    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="#"><i class="demo-pli-home"></i></a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Form Validation</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">


            <!-- FORM VALIDATION ON TABS -->
            <!--===================================================-->
            <div class="tab-base">

                <!-- Nav tabs -->
                <!-- <ul class="nav nav-tabs">
					     <li class="active"><a href="#demo-bsc-tab-1" data-toggle="tab">Information</a></li>
					     <li><a href="#demo-bsc-tab-2" data-toggle="tab">Address</a></li>
					 </ul> -->

                <!-- Tabs Content -->

                <form id="demo-bv-bsc-tabs" class="form-horizontal" action="#" method="post">
                    <div class="tab-content">
                        <div class="tab-pane pad-btm fade in active" id="demo-bsc-tab-1">
                            <p class="text-main text-bold">Account</p>
                            <hr>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email address</label>
                                <div class="col-lg-8">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Password</label>
                                <div class="col-lg-8">
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Validate Password</label>
                                <div class="col-lg-8">
                                    <input type="password" class="form-control" name="repassword" placeholder="Validate Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label"></label>
                                <div class="col-lg-8">
                                    <div class="checkbox">
                                        <input id="demo-remember-me" class="magic-checkbox" type="checkbox">
                                        <label for="demo-remember-me">Change Password</label>
                                    </div>
                                </div>
                            </div>


                        </div>
					                    <!-- <div class="tab-footer clearfix">
					                        <div class="col-lg-7 col-lg-offset-3">
					                            <button type="submit" class="btn btn-primary">Validate</button>
					                        </div>
					                    </div> -->
                    </div>
                </form>
            </div>
					        <!--===================================================-->
					        <!-- END FORM VALIDATION ON TABS -->


					        <!-- FORM VALIDATION ON ACCORDION -->
					        <!--===================================================-->
            <form id="demo-bv-accordion" class="form-horizontal" action="#" method="post">
                <div id="demo-accordion" class="panel-group accordion">
                    <div class="panel">

                        <!-- Accordion title -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-1">Profile Identitas</a>
                            </h4>
                        </div>

                        <!-- Accordion content -->
                        <div id="demo-acc-panel-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Full name</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="firstName" placeholder="First name">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="lastName" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Gender</label>
                                    <div class="col-lg-7">
                                        <div class="radio">
                                            <input id="demo-radio-1" class="magic-radio" type="radio" name="gender" value="Male">
                                            <label for="demo-radio-1">Male</label>

                                            <input id="demo-radio-2" class="magic-radio" type="radio" name="gender" value="Female">
                                            <label for="demo-radio-2">Female</label>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Tempat/Tanggal Lahir</label>
                                    <div class="col-lg-4">

                                        <select data-placeholder="Pilih Templat Lahir" id="demo-cs-multiselect" tabindex="4">

                                            <option value="United States">United States</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Aland Islands">Aland Islands</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>

                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <div id="demo-dp-component">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Nomor Telephone</label>
                                    <div class="col-lg-8">

                                        <input type="text" class="form-control" name="telp" placeholder="Nomor Telephone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Provinsi dan Kota</label>
                                    <div class="col-lg-4">

                                        <select data-placeholder="Provinsi" id="demo-cs-multiselect2" tabindex="4">

                                            <option value="United States">United States</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Aland Islands">Aland Islands</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>

                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <select data-placeholder="Kota/Kabupaten" id="demo-cs-multiselect3" tabindex="4">

                                            <option value="United States">United States</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Aland Islands">Aland Islands</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>

                                        </select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Alamat</label>
                                    <div class="col-lg-8">
                                        <textarea placeholder="Alamat" rows="13" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Pekerjaan</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" name="work" id="work">
                                            <option id="defWork" name="defwork">-- Select Pekerjaan --</option>
                                            <option id="employee" name="employee">Karyawan</option>
                                            <option id="enterpriner" name="enterpriner">Wiraswasta</option>
                                            <option id="student" name="student">Pelajar/Mahasiswa</option>
                                            <option id="housewife" name="housewife">Ibu Rumah Tangga</option>
                                            <option id="pensiun" name="pensiun">Pensiunan</option>
                                            <option id="noWork" name="noWork">Tidak Bekerja</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Sumber Dana</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" name="sourcePay" id="sourcePay">
                                            <option id="defPay" name="defPay">-- Select Sumber Dana --</option>
                                            <option id="salary" name="employee">Gaji</option>
                                            <option id="enterprinerResult" name="enterprinerResult">Hasil Kegiatan Usaha</option>
                                            <option id="legacy" name="legacy">Warisan</option>
                                            <option id="savings" name="savings">Tabungan</option>
                                            <option id="other" name="other">Lain - lain</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">

                        <!-- Accordion title -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-2">Document</a>
                            </h4>
                        </div>



                        <div id="demo-acc-panel-2" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Member type</label>
                                    <div class="col-lg-8">
                                        <select name="identityType" id="identityType" class="form-control">
                                            <option name="identityDefault" id="identityDefault">-- Select Identity Type --</option>
                                            <option name="ktp" id="ktp">KTP</option>
                                            <option name="sim" id="sim">SIM</option>
                                            <option name="passport" id="passport">Passport</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Number Identity</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" name="noIdentity" id="noIdentity" placeholder="Number Identity">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"></label>
                                    <div class="col-lg-8">
                                        <div class="pad-ver">
                                            <span class="btn btn-success fileinput-button dz-clickable">
                                                <i class="fa fa-plus"></i>
                                                <span>Add Identity...</span>
                                            </span>
                                        </div>


                                        <div id="dz-previews">
                                            <div id="dz-template" class="pad-top bord-top">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <!--This is used as the file preview template-->
                                                        <div class="media-block">
                                                            <div class="media-left">
                                                                <img class="dz-img" data-dz-thumbnail>
                                                            </div>
                                                            <div class="media-body">
                                                                <p class="text-main text-bold mar-no text-overflow" data-dz-name></p>
                                                                <span class="dz-error text-danger text-sm" data-dz-errormessage></span>
                                                                <p class="text-sm" data-dz-size></p>
                                                                <div id="dz-total-progress" style="opacity:0">
                                                                    <div class="progress progress-xs active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media-right">
                                                        <button data-dz-remove class="btn btn-xs btn-danger dz-cancel"><i class="demo-psi-trash"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">NPWP Number</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="npwpnumber" id="npwpnumber" placeholder="NPWP Number">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label"></label>
                                    <div class="col-lg-8">
                                        <div class="pad-ver">
                                            <span class="btn btn-success fileinput-button2 dz-clickable">
                                                <i class="fa fa-plus"></i>
                                                <span>Add NPWP...</span>
                                            </span>
                                        </div>


                                        <div id="dz-previews2">
                                            <div id="dz-template2" class="pad-top bord-top">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <!--This is used as the file preview template-->
                                                        <div class="media-block">
                                                            <div class="media-left">
                                                                                <img class="dz-img" data-dz-thumbnail>
                                                            </div>
                                                            <div class="media-body">
                                                                <p class="text-main text-bold mar-no text-overflow" data-dz-name></p>
                                                                <span class="dz-error text-danger text-sm" data-dz-errormessage></span>
                                                                <p class="text-sm" data-dz-size></p>
                                                                <div id="dz-total-progress2" style="opacity:0">
                                                                    <div class="progress progress-xs active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media-right">
                                                        <button data-dz-remove class="btn btn-xs btn-danger dz-cancel"><i class="demo-psi-trash"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="panel">

                        <!-- Accordion title -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-3">Bank Account</a>
                            </h4>
                        </div>

                        <!-- Accordion content -->
                        <div id="demo-acc-panel-3" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Bank Name</label>
                                    <div class="col-lg-8">
                                        <select data-placeholder="Bank Name" id="demo-cs-multiselect4" tabindex="4">

                                            <option value="mandiri">Bank Mandiri</option>
                                            <option value="bni">Bank BNI</option>
                                            <option value="bri">Bank BRI</option>
                                            <option value="btn">Bank BTN</option>
                                            <option value="bca">Bank BCA</option>
                                            <option value="bni syariah">Bank BNI Syariah</option>
                                            <option value="Mandiri Syariah">Bank Mandiri Syariah</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Bank Branch</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="bankBranch" id="bankBranch" class="form-control" placeholder="Bank Branch">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Number Bank Account</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="bankNumber" id="bankNumber" class="form-control" placeholder="Bank Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Behalf Bank Account</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="behalfAccount" id="behalfAccount" class="form-control" placeholder="Behalf Bank Account">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--===================================================-->
            <!-- END FORM VALIDATION ON ACCORDION -->
        </div>




    </div>
    <!--===================================================-->
    <!--End page content-->
{% endblock %}
{% block script %}
    <!--Switchery [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/switchery/switchery.min.js') }}"></script>


    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>


    <!--Chosen [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/chosen/chosen.jquery.min.js') }}"></script>


    <!--noUiSlider [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/noUiSlider/nouislider.min.js') }}"></script>

    <!--Select2 [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/select2/js/select2.min.js') }}"></script>


    <!--Bootstrap Validator [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-validator/bootstrapValidator.min.js') }}"></script>


    <!--Masked Input [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/masked-input/jquery.maskedinput.min.js') }}"></script>


    <!--Form validation [ SAMPLE ]-->
    <script src="{{ url_for('static', filename='user_dasboard/js/demo/form-validation.js') }}"></script>



    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>


    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js') }}"></script>

    <!--Form Component [ SAMPLE ]-->
    <script src="{{ url_for('static', filename='user_dasboard/js/demo/form-component.js') }}"></script>

    <!--Form File Upload [ SAMPLE ]-->
    <script src="{{ url_for('static', filename='user_dasboard/js/demo/form-file-upload.js') }}"></script>

    <!--Dropzone [ OPTIONAL ]-->
    <script src="{{ url_for('static', filename='user_dasboard/plugins/dropzone/dropzone.min.js') }}"></script>

    <script type=""></script>
{% endblock %}