<!--Category name-->
<li class="list-header">Dasboard List</li>
<!--Menu list item-->
<li class="active-sub">
    <a href="index.html">
        <i class="demo-pli-home"></i>
        <span class="menu-title">Dashboard</span>
    </a>
</li>
<li>
    <a href="transaction.html">
        <i class="ti-files"></i>
        <span class="menu-title">Transaction</span>
    </a>
</li>
<li>
    <a href="disbursement.html">
        <i class="fa fa-money"></i>
        <span class="menu-title">Pencairan Dana</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="demo-pli-tactic"></i>
        <span class="menu-title">Report</span>
        <i class="arrow"></i>
    </a>
    <!--Submenu-->
    <ul class="collapse">
        <li><a href="#">Berat Ternak</a></li>
        <li><a href="timeline.html">Timeline</a></li>
    </ul>
</li>
<li>
    <a href="widgets.html">
        <i class="fa fa-feed"></i>
        <span class="menu-title">Ulasan Investasi</span>
    </a>
</li>
<li class="list-divider"></li>