<ul class="head-list">
    <li>
        <a href="{{ url_for('userDasboardProfile') }}"><i class="demo-pli-male icon-lg icon-fw"></i> Profile</a>
    </li>
    <li>
        <a href="#"><span class="badge badge-danger pull-right">9</span><i class="demo-pli-mail icon-lg icon-fw"></i> Messages</a>
    </li>
    <li>
        <a href="#"><span class="label label-success pull-right">New</span><i class="demo-pli-gear icon-lg icon-fw"></i> Settings</a>
    </li>
    <li>
        <a href="#"><i class="demo-pli-computer-secure icon-lg icon-fw"></i> Lock screen</a>
    </li>
    <li>
        <a href="pages-login.html"><i class="demo-pli-unlock icon-lg icon-fw"></i> Logout</a>
    </li>
</ul>