{% extends 'base/based.html' %}
{% block title %}Detail Catalog Investment{% endblock %}
{{ super() }}
{% block content %}
{% for detCatalog in detailCatalog %}
      <form method="POST" action="{{ url_for('transReview') }}">
      <div id="investSection" class="feature-1-section module md-bg-white pb-80">
        <div class="container">
          <div class="row-content row">
            <div class="col-el col-sm-8 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0"><img src="{{ url_for('static', filename='catalog/'+detCatalog.catalogPicture) }}" alt="" class="section-media-img"></div>
            <div class="col-content col-md-7">
              <h2 class="section-title">{{ detCatalog.nameCatalog }} <small class="text-secondary">Rp. {{ detCatalog.slotPrice }} / Slot</small></h2>
              <div class="section-content">
                <div class="row">
                  <div class="col-sm-4">Contact Period</div>
                  <div class="col-sm-8">: {{ detCatalog.contractPeriod }} Tahun</div>
                  <div class="col-sm-4">Return Investment</div>
                  <div class="col-sm-8">: {{ detCatalog.returnInvest }} %</div>
                  <div class="col-sm-4">Profit Sharing Period</div>
                  <div class="col-sm-8">: {{ detCatalog.sharingPeriod }} %</div>
                  <div class="col-sm-4">Available Slot</div>
                  <div class="col-sm-8">: {{ detCatalog.slotAvaible }} Slot</div>

                  <div class="col-sm-12 mt-30"><strong>Input Total Slot</strong></div>

                  <!--hidden form-->
                    <input type="text" id="imgCatalog" name="imgCatalog" value="{{ detCatalog.catalogPicture }}" hidden>
                    <input type="text" id="nameCatalog" name="nameCatalog" value="{{ detCatalog.nameCatalog }}" hidden>
                    <input type="text" id="priceCatalog" name="priceCatalog" value="{{ detCatalog.slotPrice }}" hidden>
                    <input type="text" id="contractCatalog" name="contractCatalog" value="{{ detCatalog.contractPeriod }}" hidden>
                    <input type="text" id="returnCatalog" name="returnCatalog" value="{{ detCatalog.returnInvest }}" hidden>
                    <input type="text" id="profitCatalog" name="profitCatalog" value="{{ detCatalog.sharingPeriod }}" hidden>
                  <!--end hidden form-->

                  <!--Spinner start-->
                  <div class="col-md-12">
                    <div class="row">
                      <section class="panel">
                        <div class="panel-body">
                          <div class="form-group ">
                            <div id="spinner1">
                              <div class="input-group col-sm-6 col-xs-12">
                                  <div class="spinner-buttons input-group-btn">
                                      <button type="button" class="btn spinner-down btn-primary">
                                          <i class="fa fa-minus"></i>
                                      </button>
                                  </div>
                                  <input type="text" class="spinner-input form-control" readonly value="1" id="totSlot" name="totSlot">
                                  <div class="spinner-buttons input-group-btn">
                                      <button type="button" class="btn spinner-up btn-primary">
                                          <i class="fa fa-plus"></i>
                                      </button>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mt-0">
                    <button type="submit" class="btn btn-lg btn-pill btn-shadow btn-theme-1 col-lg-8 col-xs-12">Investment</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
{% endfor %}
      <!--tab nav start-->
      <div id="investDeatail" class="mt-0 md-bg-white">
        <div class="container">
          <div class="row-content row">
            <section class="panel">
                <header class="panel-heading">
                    <ul class="nav nav-tabs tab-description">
                        <li class="active">
                            <a data-toggle="tab" href="#description">Description</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#review">Review</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#roi">ROI Simulation</a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="description" class="tab-pane active">
                          <h4>Description</h4>
                          <p>
                              {% for desc in desc %}
                                {{ desc.description }}
                              {% endfor %}
                          </p>
                        </div>
                        <div id="review" class="tab-pane">
                          <section class="panel">
                            <div class="row panel-body">
                                {% for review in review %}
                                <div class="col-sm-12 mb-20 review-content">
                                        <div class="col-sm-2">
                                            <img src="{{ url_for('static', filename='assets/img/service-list-icon-2.png') }}" alt="" class="iconbox-media-img iconbox-media-img-lg">
                                        </div>
                                    <div class="col-sm-6">
                                        <span class="rating">
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                        </span>
                                    <p>
                                        <span>{{ review.custname }},</span> <span>{{ review.reviewdate }}</span>
                                    </p>
                                    <p>
                                         {{ review.comment }}
                                    </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                          </section>
                        </div>
                        <div id="roi" class="tab-pane ">
                          <div class="grafik">
                            <canvas id="line_chart"></canvas>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
          </div>
        </div>
      </div>

    <!-- .popup-form-wrap-->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/Chart.min.js') }}"></script>


    <script>
      var speedCanvas = document.getElementById("line_chart");

      Chart.defaults.global.defaultFontFamily = "Lato";
      Chart.defaults.global.defaultFontSize = 18;

      var dataFirst = {
          label: "Investasi",
          data: [0, 23, 34, 35, 55, 70, 46, 46, 50, 51, 52, 60],
          lineTension: 0.3,
          fill: false,
          borderColor: 'red',
          backgroundColor: 'transparent',
          pointBorderColor: 'red',
          pointBackgroundColor: 'lightgreen',
          pointRadius: 5,
          pointHoverRadius: 10,
          pointBorderWidth: 2,
          pointStyle: 'circle'
        };

      var dataSecond = {
          label: "Return Investment",
          data: [40, 15, 60, 44, 62, 50, 78, 80, 85, 87, 90, 100],
          lineTension: 0.3,
          fill: false,
          borderColor: 'blue',
          backgroundColor: 'transparent',
          pointBorderColor: 'purple',
          pointBackgroundColor: 'lightgreen',
          pointRadius: 5,
          pointHoverRadius: 10,
          pointBorderWidth: 2
        };

      var speedData = {
        labels: ["Bulan ke-1", "Bulan ke-2", "Bulan ke-3", "Bulan ke-4", "Bulan ke-5", "Bulan ke-6", "Bulan ke-7","Bulan ke-8", "Bulan ke-9", "Bulan ke-10", "Bulan ke-11", "Bulan ke-12"],
        datasets: [dataFirst, dataSecond]
      };

      var chartOptions = {
        legend: {
          display: true,
          position: 'top',
          labels: {
            boxWidth: 20,
            fontColor: 'black'
          }
        }
      };

      var lineChart = new Chart(speedCanvas, {
        type: 'line',
        data: speedData,
        options: chartOptions
      });
    </script>
{% endblock %}