<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendor.css') }}">
    <link id="theme" rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/space.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom-bootstrap-margin-padding.css') }}">

    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/slick/slick.css') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/slick/slick-theme.css') }}">

    <script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>
  </head>
  <body>
    <div id="pageLoader" class="page-loader">
      <div class="spinner">
        <div class="bounce"></div>
        <div class="bounce"></div>
        <div class="bounce"></div>
      </div>
    </div>
    <!-- .page-loader-->
    <header id="masthead" class="site-header site-header-fixed-top">
      <nav id="siteHeaderNavbar" class="site-header-navbar navbar navbar-lg navbar-fixed-top navbar-bg-from-transparent navbar-fg-from-light navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="custom-navbar-toggle collapsed"><span class="bar"></span><span class="bar"></span><span class="bar"></span></button>
            <a href="#" class="navbar-brand">
              <img src="{{ url_for('static', filename='assets/img/logo-dark.png') }}" alt="" class="navbar-brand-media-img navbar-brand-media-img-dark">
              <img src="{{ url_for('static', filename='assets/img/logo-light.png') }}" alt="" class="navbar-brand-media-img navbar-brand-media-img-light">
            </a>
          </div>
          <!-- .navbar-header-->
          <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html">Home</a>
              </li>
              <li><a href="catalog.html">Catalog Investasi</a>
              </li>
              <li><a href="simulasi.html">Simulasi</a>
              </li>
              <li>
                <button type="button" data-mfp-src="#popupSignin" class="navbar-btn btn btn-xs btn-shadow btn-theme-1 popup-inline">Sign In</button>
              </li>
              <li>
                <button type="button" data-mfp-src="#popupSignup" class="navbar-btn btn btn-xs btn-shadow btn-theme-1 popup-inline">Sign Up</button>
              </li>
            </ul>
          </div>
          <!-- .navbar-collapse-->
        </div>
      </nav>
      <!-- .site-header-navbar-->
    </header>
    <!-- .site-header-->
    <div id="content" class="site-content">
      {% block content %}{% endblock %}
      <!-- .download-section-->
      <div id="siteFooter" class="site-footer md-bg-dark site-footer-layout-1">
        {% include "base/footer.html" %}
      </div>
      <!-- .site-footer-->
    </div>
    <div id="popupSignin" class="popup-form-wrap md-bg-white mfp-hide">
      <div class="tab-content">
        <div id="signInFormWrap" class="tab-pane fade in active">
          <form id="signInForm">
            <div class="form-group">
              <div class="popup-form-title">Sign In for Start Investation</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="signInEmail">Email</label>
              <input id="signInEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signInPassword">Password</label>
              <input id="signInPassword" type="password" placeholder="Enter password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Log In</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signUpFormWrap" data-toggle="tab" class="btn btn-default">Sign Up</a><a href="#resetPasswordFormWrap" data-toggle="tab" class="btn btn-default">Forgot Password?</a></div>
          </div>
        </div>
        <div id="signUpFormWrap" class="tab-pane fade">
          <form id="signUpForm">
            <div class="form-group">
              <div class="popup-form-title">Registration</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="first_name">First Name</label>
              <input id="first_name" type="text" placeholder="First Name" name="first_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" placeholder="Last Name" name="last_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpEmail">Email</label>
              <input id="signUpEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpPassword">Password</label>
              <input id="signUpPassword" type="password" placeholder="Create a password" name="password" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="verify_password">Verify Password</label>
              <input id="verify_password" type="password" placeholder="Verifiy password" name="verify_password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Sign Up</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signInFormWrap" data-toggle="tab" class="btn btn-default">Already Signed Up?</a></div>
          </div>
        </div>
        <div id="resetPasswordFormWrap" class="tab-pane fade">
          <form id="resetPasswordForm">
            <div class="form-group">
              <div class="popup-form-title">Reset Your Password</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="resetPasswordEmail">Email</label>
              <input id="resetPasswordEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Reset Password</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signInFormWrap" data-toggle="tab" class="btn btn-default">Log In</a><a href="#signUpFormWrap" data-toggle="tab" class="btn btn-default">Sign Up</a></div>
          </div>
        </div>
      </div>
    </div>
    <div id="popupSignup" class="popup-form-wrap md-bg-white mfp-hide">
      <div class="tab-content">
        <div id="signup" class="tab-pane fade in active">
          <form id="signUpForm">
            <div class="form-group">
              <div class="popup-form-title">Registration</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="first_name">First Name</label>
              <input id="first_name" type="text" placeholder="First Name" name="first_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" placeholder="Last Name" name="last_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpEmail">Email</label>
              <input id="signUpEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpPassword">Password</label>
              <input id="signUpPassword" type="password" placeholder="Create a password" name="password" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="verify_password">Verify Password</label>
              <input id="verify_password" type="password" placeholder="Verifiy password" name="verify_password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Sign Up</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signin" data-toggle="tab" class="btn btn-default">Already Signed Up?</a></div>
          </div>
        </div>
        <div id="signin" class="tab-pane fade">
          <form id="signInForm">
            <div class="form-group">
              <div class="popup-form-title">Sign In for Start Investation</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="signInEmail">Email</label>
              <input id="signInEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signInPassword">Password</label>
              <input id="signInPassword" type="password" placeholder="Enter password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Log In</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signup" data-toggle="tab" class="btn btn-default">Sign Up</a><a href="#forgotpassword" data-toggle="tab" class="btn btn-default">Forgot Password?</a></div>
          </div>
        </div>
        <div id="forgotpassword" class="tab-pane fade">
          <form id="resetPasswordForm">
            <div class="form-group">
              <div class="popup-form-title">Reset Your Password</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="resetPasswordEmail">Email</label>
              <input id="resetPasswordEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Reset Password</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signin" data-toggle="tab" class="btn btn-default">Log In</a><a href="#signup" data-toggle="tab" class="btn btn-default">Sign Up</a></div>
          </div>
        </div>
      </div>
    </div>



    <!-- .popup-form-wrap-->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/slick/slick.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
    $(document).ready(function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
    });
</script>
  </body>
</html>