<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor.css">

    <link id="theme" rel="stylesheet" href="assets/css/theme-1.css">
    <link rel="stylesheet" href="assets/css/space.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <script src="assets/js/modernizr.js"></script>
  </head>
  <body>
    <div id="pageLoader" class="page-loader">
      <div class="spinner">
        <div class="bounce"></div>
        <div class="bounce"></div>
        <div class="bounce"></div>
      </div>
    </div>
    <!-- .page-loader-->
    <header id="masthead" class="site-header site-header-fixed-top">
      <nav id="siteHeaderNavbar" class="site-header-navbar navbar navbar-lg navbar-fixed-top navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="custom-navbar-toggle collapsed"><span class="bar"></span><span class="bar"></span><span class="bar"></span></button>
            <a href="#" class="navbar-brand">
              <img src="assets/img/logo-dark.png" alt="" class="navbar-brand-media-img navbar-brand-media-img-dark">
              <img src="assets/img/logo-light.png" alt="" class="navbar-brand-media-img navbar-brand-media-img-light">
            </a>
          </div>
          <!-- .navbar-header-->
          <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html">Home</a>
              </li>
              <li><a href="catalog.html">Catalog Investasi</a>
              </li>
              <li><a href="simulasi.html">Simulasi</a>
              </li>
              <li><a href="#" style="padding-right: 0;">Hi, Linggar</a></li>
              <li>
                <img src="assets/img/dummy_foto.jpg" alt="" class="user-photo hidden-xs circle img-responsive">
              </li>
            </ul>
          </div>
          <!-- .navbar-collapse-->
        </div>
      </nav>
      <!-- .site-header-navbar-->
    </header>

    <!-- side-menu for desktop -->
    <div id="side-menu" class="visible-lg">
        <div class="side-menu-btn"><i class="fa fa-gear fa-2x"></i></div>
        <div class="side-menu-head">
            <div class="side-menu-content">
                <center>
                  <img src="assets/img/dummy_foto.jpg" alt="" class="circle img-responsive"> 
                  <h4>Linggar</h4>
                  <p><small>Manage your profile here</small></p>
                </center>
            </div>
        </div>
        <div class="side-menu-item pull-left">
            <ul>
                <li class="pull-left">
                  <a href="#dashboard"><i class="fa fa-home"></i> Dashboard</a>
                </li>
                <li class="pull-left">
                  <a href="#setting"><i class="fa fa-user"></i> Manage Profile</a>
                </li>
                <li class="pull-left">
                  <a href="#account"><i class="fa fa-key"></i> Manage Account</a>
                </li>
                <li class="pull-left">
                  <a href="#setting" class="btn btn-danger"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- .site-header-->
    <div id="content" class="site-content">
      <div id="pageIntro" class="page-intro page-intro-hero page-intro-layout-1 md-bg-dark">
        <div data-bg-slideshow-src="assets/img/slider/slider-%.jpg" data-bg-slideshow-amount="4" data-slideshow-delay="7000" data-bg-slideshow-animation="kenburns" class="bg-slideshow"></div>
        <!-- .bg-slideshow-->
        <div data-css-opacity=".4" class="bg-overlay bg-black"></div>
        <!-- .bg-overlay-->
        <div class="page-intro-align">
          <div class="container">
            <div class="row-content row">
              <div class="col-content col-md-6">
                <h1 class="section-title-xl">Quote Produk</h1>
                <p class="text-lead">Deskripsi Produk</p>
                <div class="section-cta"><a href="#" class="btn btn-lg btn-pill btn-shadow btn-theme-1"><i class="icon icon-left fa fa-fw fa-arrow-right"></i> Learn More</a><a href="#" data-mfp-src="https://www.youtube.com/watch?v=LViVa-kKqzA" class="btn btn-lg btn-outline btn-pill btn-shadow btn-default popup-youtube"><i class="icon icon-left fa fa-fw fa-play"></i> Watch Video</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .page-intro-->
      <div id="serviceListSection" class="service-list-section module md-bg-white">
        <div class="container">
          <div class="row-iconbox row">
            <div class="col-iconbox col-sm-4">
              <div class="iconbox iconbox-align-center">
                <div class="iconbox-media"><img src="assets/img/service-list-icon-1.png" alt="" class="iconbox-media-img iconbox-media-img-lg">
                </div>
                <div class="iconbox-content">
                  <div class="iconbox-header">
                    <div class="iconbox-header-title">Web Development</div>
                  </div>
                  <div class="iconbox-body">
                    <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. Years creepeth male gathered all herb good.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-iconbox col-sm-4">
              <div class="iconbox iconbox-align-center">
                <div class="iconbox-media"><img src="assets/img/service-list-icon-2.png" alt="" class="iconbox-media-img iconbox-media-img-lg">
                </div>
                <div class="iconbox-content">
                  <div class="iconbox-header">
                    <div class="iconbox-header-title">Graphic Design</div>
                  </div>
                  <div class="iconbox-body">
                    <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. Years creepeth male gathered all herb good.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-iconbox col-sm-4">
              <div class="iconbox iconbox-align-center">
                <div class="iconbox-media"><img src="assets/img/service-list-icon-3.png" alt="" class="iconbox-media-img iconbox-media-img-lg">
                </div>
                <div class="iconbox-content">
                  <div class="iconbox-header">
                    <div class="iconbox-header-title">SEO Optimization</div>
                  </div>
                  <div class="iconbox-body">
                    <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. Years creepeth male gathered all herb good.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .team-section-->
      <div id="pricingSection" class="pricing-section module md-bg-light">
        <div class="container">
          <div class="row-content row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-header">
                <h2 class="section-title">Catalog Investation</h2>
              </div>
            </div>
          </div>
          <div class="row-content row">
            <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header">
                  <img src="assets/img/slider/slider-2.jpg" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog Investasi</div>
                <div class="pricing-table-content md-bg-primary"> 
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header">
                  <img src="assets/img/slider/slider-2.jpg" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog Investasi</div>
                <div class="pricing-table-content md-bg-primary"> 
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header">
                  <img src="assets/img/slider/slider-2.jpg" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog Investasi</div>
                <div class="pricing-table-content md-bg-primary"> 
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row-pricing-table row">
            <div class="col-md-12">
              <a href="#" class="btn btn-lg btn-pill btn-shadow btn-primary">See More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- .How We Work-->
      <div id="pricingSection" class="pricing-section module md-bg-white">
        <div class="container">
          <div class="row-content row">
            <div class="col-md-12">
              <div class="section-header">
                <h2 class="section-title">How We Work</h2>
              </div>
            </div>
          </div>
          <div class="row-content row">
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Beli Ternak</div>
                <div class="pricing-table-header">
                  <img src="assets/img/slider/slider-1.jpg" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content"> 
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Proses Ternak</div>
                <div class="pricing-table-header">
                  <img src="assets/img/slider/slider-1.jpg" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content"> 
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Monitoring</div>
                <div class="pricing-table-header">
                  <img src="assets/img/slider/slider-1.jpg" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content"> 
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Jual Ternak</div>
                <div class="pricing-table-header">
                  <img src="assets/img/slider/slider-1.jpg" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content"> 
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>                      
          </div>
        </div>
      </div>
      <!-- .download-section-->
      <div id="siteFooter" class="site-footer md-bg-dark site-footer-layout-1">
        <div class="site-footer-bottom module module-mini">
          <div data-css-opacity=".12" class="cover-absolute bg-black"></div>
          <div class="container">
            <p class="mb-0">Copyright © 2016 BFC. All Rights Reserved.          </p>
          </div>
        </div>
      </div>
      <!-- .site-footer-->
    </div>
    <div id="popupSignin" class="popup-form-wrap md-bg-white mfp-hide">
      <div class="tab-content">
        <div id="signInFormWrap" class="tab-pane fade in active">
          <form id="signInForm">
            <div class="form-group">
              <div class="popup-form-title">Sign In for Start Investation</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="signInEmail">Email</label>
              <input id="signInEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signInPassword">Password</label>
              <input id="signInPassword" type="password" placeholder="Enter password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Log In</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signUpFormWrap" data-toggle="tab" class="btn btn-default">Sign Up</a><a href="#resetPasswordFormWrap" data-toggle="tab" class="btn btn-default">Forgot Password?</a></div>
          </div>
        </div>
        <div id="signUpFormWrap" class="tab-pane fade">
          <form id="signUpForm">
            <div class="form-group">
              <div class="popup-form-title">Registration</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="first_name">First Name</label>
              <input id="first_name" type="text" placeholder="First Name" name="first_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" placeholder="Last Name" name="last_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpEmail">Email</label>
              <input id="signUpEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpPassword">Password</label>
              <input id="signUpPassword" type="password" placeholder="Create a password" name="password" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="verify_password">Verify Password</label>
              <input id="verify_password" type="password" placeholder="Verifiy password" name="verify_password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Sign Up</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signInFormWrap" data-toggle="tab" class="btn btn-default">Already Signed Up?</a></div>
          </div>
        </div>
        <div id="resetPasswordFormWrap" class="tab-pane fade">
          <form id="resetPasswordForm">
            <div class="form-group">
              <div class="popup-form-title">Reset Your Password</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="resetPasswordEmail">Email</label>
              <input id="resetPasswordEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Reset Password</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signInFormWrap" data-toggle="tab" class="btn btn-default">Log In</a><a href="#signUpFormWrap" data-toggle="tab" class="btn btn-default">Sign Up</a></div>
          </div>
        </div>
      </div>
    </div>
    <div id="popupSignup" class="popup-form-wrap md-bg-white mfp-hide">
      <div class="tab-content">
        <div id="signup" class="tab-pane fade in active">
          <form id="signUpForm">
            <div class="form-group">
              <div class="popup-form-title">Registration</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="first_name">First Name</label>
              <input id="first_name" type="text" placeholder="First Name" name="first_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" placeholder="Last Name" name="last_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpEmail">Email</label>
              <input id="signUpEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpPassword">Password</label>
              <input id="signUpPassword" type="password" placeholder="Create a password" name="password" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="verify_password">Verify Password</label>
              <input id="verify_password" type="password" placeholder="Verifiy password" name="verify_password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Sign Up</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signin" data-toggle="tab" class="btn btn-default">Already Signed Up?</a></div>
          </div>
        </div>
        <div id="signin" class="tab-pane fade">
          <form id="signInForm">
            <div class="form-group">
              <div class="popup-form-title">Sign In for Start Investation</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="signInEmail">Email</label>
              <input id="signInEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signInPassword">Password</label>
              <input id="signInPassword" type="password" placeholder="Enter password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Log In</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signup" data-toggle="tab" class="btn btn-default">Sign Up</a><a href="#forgotpassword" data-toggle="tab" class="btn btn-default">Forgot Password?</a></div>
          </div>
        </div>
        <div id="forgotpassword" class="tab-pane fade">
          <form id="resetPasswordForm">
            <div class="form-group">
              <div class="popup-form-title">Reset Your Password</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="resetPasswordEmail">Email</label>
              <input id="resetPasswordEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Reset Password</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signin" data-toggle="tab" class="btn btn-default">Log In</a><a href="#signup" data-toggle="tab" class="btn btn-default">Sign Up</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- .popup-form-wrap-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- JS untuk content menu gantung -->
    <script src="assets/js/custom.js"></script>
  </body>
</html>