<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendor.css') }}">
    <link id="theme" rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/space.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom-bootstrap-margin-padding.css') }}">

    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/slick/slick.css') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/slick/slick-theme.css') }}">

  	<link href="{{ url_for('static', filename='assets/css/full-slider.css') }}" rel="stylesheet">
  	<link href="{{ url_for('static', filename='assets/css/carousel.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>
  </head>
  <body>
    <div id="pageLoader" class="page-loader">
      <div class="spinner">
        <div class="bounce"></div>
        <div class="bounce"></div>
        <div class="bounce"></div>
      </div>
    </div>
    <!-- .page-loader-->
    <header id="masthead" class="site-header site-header-fixed-top">
      <nav id="siteHeaderNavbar" class="site-header-navbar navbar navbar-lg navbar-fixed-top navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="custom-navbar-toggle collapsed"><span class="bar"></span><span class="bar"></span><span class="bar"></span></button>
            <a href="#" class="navbar-brand">
              <img src="{{ url_for('static', filename='assets/img/logo-dark.png') }}" alt="" class="navbar-brand-media-img navbar-brand-media-img-dark">
              <img src="{{ url_for('static', filename='assets/img/logo-light.png') }}" alt="" class="navbar-brand-media-img navbar-brand-media-img-light">
            </a>
          </div>
          <!-- .navbar-header-->
          <div id="navbar-collapse" class="collapse navbar-collapse">
            {% include "base/menu.html" %}
          </div>
          <!-- .navbar-collapse-->
        </div>
      </nav>
      <!-- .site-header-navbar-->
    </header>
    <!-- .site-header-->

    <div id="content" class="site-content">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('{{ url_for('static', filename='assets/img/slider/slider-3.jpg') }}')">
            <div class="carousel-caption d-none d-md-block">
              	<div class="row">
	              <div class="col-content col-md-6">
	                <h1 class="section-title-xl">Web Development</h1>
	                <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. Years creepeth male gathered all herb good.</p>
	                <div class="section-cta"><a href="#" class="btn btn-lg btn-pill btn-shadow btn-theme-1"><i class="icon icon-left fa fa-fw fa-arrow-right"></i> Learn More</a><a href="#" data-mfp-src="" class="btn btn-lg btn-outline btn-pill btn-shadow btn-default popup-youtube"><i class="icon icon-left fa fa-fw fa-play"></i> Watch Video</a></div>
	              </div>
	            </div>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{{ url_for('static', filename='assets/img/slider/slider-2.jpg') }}')">
            <div class="carousel-caption d-none d-md-block">
              	<div class="row">
	              <div class="col-content col-md-6">
	                <h1 class="section-title-xl">Graphic Design</h1>
	                <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. </p>
	                <div class="section-cta"><a href="#" class="btn btn-lg btn-pill btn-shadow btn-theme-1"><i class="icon icon-left fa fa-fw fa-arrow-right"></i> Learn More</a></div>
	              </div>
	            </div>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{{ url_for('static', filename='assets/img/slider/slider-1.jpg') }}')">
          	<div class="carousel-caption d-none d-md-block">
              	<div class="row">
	              <div class="col-content col-md-6 caption-bg">
	                <h1 class="section-title-xl">Graphic Design</h1>
	                <p class="text-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	              </div>
	            </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- .page-intro-->
      <div id="serviceListSection" class="service-list-section module md-bg-white">
        <div class="container">
          <div class="row-iconbox row">
            <div class="col-iconbox col-sm-4">
              <div class="iconbox iconbox-align-center">
                <div class="iconbox-media"><img src="{{ url_for('static', filename='assets/img/service-list-icon-1.png') }}" alt="" class="iconbox-media-img iconbox-media-img-lg">
                </div>
                <div class="iconbox-content">
                  <div class="iconbox-header">
                    <div class="iconbox-header-title">Web Development</div>
                  </div>
                  <div class="iconbox-body">
                    <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. Years creepeth male gathered all herb good.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-iconbox col-sm-4">
              <div class="iconbox iconbox-align-center">
                <div class="iconbox-media"><img src="{{ url_for('static', filename='assets/img/service-list-icon-2.png') }}" alt="" class="iconbox-media-img iconbox-media-img-lg">
                </div>
                <div class="iconbox-content">
                  <div class="iconbox-header">
                    <div class="iconbox-header-title">Graphic Design</div>
                  </div>
                  <div class="iconbox-body">
                    <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. Years creepeth male gathered all herb good.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-iconbox col-sm-4">
              <div class="iconbox iconbox-align-center">
                <div class="iconbox-media"><img src="{{ url_for('static', filename='assets/img/service-list-icon-3.png') }}" alt="" class="iconbox-media-img iconbox-media-img-lg">
                </div>
                <div class="iconbox-content">
                  <div class="iconbox-header">
                    <div class="iconbox-header-title">SEO Optimization</div>
                  </div>
                  <div class="iconbox-body">
                    <p class="text-lead">So life seasons for a. Him there face it Grass winged dominion don't night thing, let fly. Years creepeth male gathered all herb good.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .team-section-->
      <div id="pricingSection" class="pricing-section pt-60 pb-60 md-bg-light">
        <div class="container">
          <div class="row-content row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-header">
                <h2 class="section-title">Catalog Investation</h2>
              </div>
            </div>
          </div>
          <div class="row-content row">
          	<section class="regular hidden-xs">
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 1</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 2</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 3</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 4</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 5</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 6</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
			</section>

			<div class="visible-xs">
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 1</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 2</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 3</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 4</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 5</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
		    <div class="col-pricing-table col-xs-12 col-sm-8 col-sm-offset-2 col-md-4">
              <div class="pricing-table md-bg-white">
                <a href="detail-catalog.html">
                <div class="pricing-table-header img-fixed">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive">
                </div>
                <div class="pricing-table-header-title">Nama Catalog 6</div>
                <div class="pricing-table-content md-bg-primary">
                  <div class="row">
                    <div class="pricing-table-cta col-sm-5">
                      <div class="col-sm-12">
                        <strong>Harga</strong>
                        <p>Rp.2.000.000</p>
                      </div>
                    </div>
                    <div class="pricing-table-cta col-sm-7">
                      <div class="col-sm-12">
                        <strong>Return Investation</strong>
                        <p>10% - 20% Per Tahun</p>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
			</div>
          </div>
          <div class="row-pricing-table row">
            <div class="col-md-12">
              <a href="catalog.html" class="btn btn-lg btn-pill btn-shadow btn-primary">See More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- .How We Work-->
      <div id="pricingSection" class="pricing-section pt-60 pb-60  md-bg-white">
        <div class="container">
          <div class="row-content row">
            <div class="col-md-12">
              <div class="section-header">
                <h2 class="section-title">How We Work</h2>
              </div>
            </div>
          </div>
          <div class="row-content row">
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Beli Ternak</div>
                <div class="pricing-table-header">
                  <img src="{{ url_for('static', filename='assets/img/ternak/1.jpg') }}" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Proses Ternak</div>
                <div class="pricing-table-header">
                  <img src="{{ url_for('static', filename='assets/img/slider/slider-1.jpg') }}" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Monitoring</div>
                <div class="pricing-table-header">
                  <img src="{{ url_for('static', filename='assets/img/ternak/2.jpg') }}" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="col-pricing-table col-xs-12 col-md-3">
              <div class="pricing-table md-bg-white">
                <div class="pricing-table-header-title">Jual Ternak</div>
                <div class="pricing-table-header">
                  <img src="{{ url_for('static', filename='assets/img/slider/slider-1.jpg') }}" class="img-responsive img-thumb-150">
                </div>
                <div class="pricing-table-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .download-section-->
      <div id="siteFooter" class="site-footer md-bg-dark site-footer-layout-1">
        {% include "base/footer.html" %}
      </div>
      <!-- .site-footer-->
    </div>
    <div id="popupSignin" class="popup-form-wrap md-bg-white mfp-hide">
      <div class="tab-content">
        <div id="signInFormWrap" class="tab-pane fade in active">
          <form id="signInForm">
            <div class="form-group">
              <div class="popup-form-title">Sign In for Start Investation</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="signInEmail">Email</label>
              <input id="signInEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signInPassword">Password</label>
              <input id="signInPassword" type="password" placeholder="Enter password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Log In</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signUpFormWrap" data-toggle="tab" class="btn btn-default">Sign Up</a><a href="#resetPasswordFormWrap" data-toggle="tab" class="btn btn-default">Forgot Password?</a></div>
          </div>
        </div>
        <div id="signUpFormWrap" class="tab-pane fade">
          <form id="signUpForm">
            <div class="form-group">
              <div class="popup-form-title">Registration</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="first_name">First Name</label>
              <input id="first_name" type="text" placeholder="First Name" name="first_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" placeholder="Last Name" name="last_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpEmail">Email</label>
              <input id="signUpEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpPassword">Password</label>
              <input id="signUpPassword" type="password" placeholder="Create a password" name="password" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="verify_password">Verify Password</label>
              <input id="verify_password" type="password" placeholder="Verifiy password" name="verify_password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Sign Up</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signInFormWrap" data-toggle="tab" class="btn btn-default">Already Signed Up?</a></div>
          </div>
        </div>
        <div id="resetPasswordFormWrap" class="tab-pane fade">
          <form id="resetPasswordForm">
            <div class="form-group">
              <div class="popup-form-title">Reset Your Password</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="resetPasswordEmail">Email</label>
              <input id="resetPasswordEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Reset Password</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signInFormWrap" data-toggle="tab" class="btn btn-default">Log In</a><a href="#signUpFormWrap" data-toggle="tab" class="btn btn-default">Sign Up</a></div>
          </div>
        </div>
      </div>
    </div>
    <div id="popupSignup" class="popup-form-wrap md-bg-white mfp-hide">
      <div class="tab-content">
        <div id="signup" class="tab-pane fade in active">
          <form id="signUpForm">
            <div class="form-group">
              <div class="popup-form-title">Registration</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="first_name">First Name</label>
              <input id="first_name" type="text" placeholder="First Name" name="first_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" placeholder="Last Name" name="last_name" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpEmail">Email</label>
              <input id="signUpEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signUpPassword">Password</label>
              <input id="signUpPassword" type="password" placeholder="Create a password" name="password" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="verify_password">Verify Password</label>
              <input id="verify_password" type="password" placeholder="Verifiy password" name="verify_password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Sign Up</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signin" data-toggle="tab" class="btn btn-default">Already Signed Up?</a></div>
          </div>
        </div>
        <div id="signin" class="tab-pane fade">
          <form id="signInForm">
            <div class="form-group">
              <div class="popup-form-title">Sign In for Start Investation</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="signInEmail">Email</label>
              <input id="signInEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group form-group-lg">
              <label for="signInPassword">Password</label>
              <input id="signInPassword" type="password" placeholder="Enter password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Log In</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signup" data-toggle="tab" class="btn btn-default">Sign Up</a><a href="#forgotpassword" data-toggle="tab" class="btn btn-default">Forgot Password?</a></div>
          </div>
        </div>
        <div id="forgotpassword" class="tab-pane fade">
          <form id="resetPasswordForm">
            <div class="form-group">
              <div class="popup-form-title">Reset Your Password</div>
            </div>
            <div class="form-group form-group-lg">
              <label for="resetPasswordEmail">Email</label>
              <input id="resetPasswordEmail" type="email" placeholder="Email address" name="email" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-pill btn-shadow btn-theme-1">Reset Password</button>
            </div>
          </form>
          <div class="popup-form-footer">
            <div class="btn-group btn-group-lg btn-group-justified"><a href="#signin" data-toggle="tab" class="btn btn-default">Log In</a><a href="#signup" data-toggle="tab" class="btn btn-default">Sign Up</a></div>
          </div>
        </div>
      </div>
    </div>



    <!-- .popup-form-wrap-->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/jquery.slider.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/carousel.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/slick/slick.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
    $(document).ready(function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
    });
</script>
  </body>
</html>